body {
    margin: 0;
    overflow: hidden;
}

div#debug {
    position: absolute;
}

div#debug > h2 {
    color: white;
}

div#debug > input {
    display: block;
    color: white;
    background-color: black;
    margin: 0.5rem 0;
}

div#debug > button {
    display: block;
    color: white;
    background-color: black;
    margin: 0.5rem 0;
}
