body {
    margin: 0;
    overflow: hidden;
}

#loginForm, #registerForm, #joinGameForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/*@media screen and (max-width: 600px) {*/
/*  #loginForm, #registerForm, #joinGameForm {*/
/*    max-width: 300px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 400px) {*/
/*  #loginForm, #registerForm, #joinGameForm {*/
/*    max-width: 200px;*/
/*  }*/
/*}*/

input,
button{
  opacity: 1;
}

input:focus {
  outline: none;
}

input[type="text"],
input[type="password"],
button {
  opacity: 1;
  display: block;
  background: rgba(0, 0, 0, 0);
  color: #f4f2f9;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

input[type="text"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
button:-webkit-autofill {
  background-color: rgba(0, 0, 0, 0) !important;
}


button {
      border-bottom: none;
}




