# Ignore Node.js modules
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore distribution files
dist/
# build/ Neccessary for Heroku deployment


# Flask
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
*.egg-info/
