# Ignore virtual environments
venv/

# Ignore Node.js modules
node_modules/

# Ignore build artifacts
client/build/

# Ignore cache files
*.pyc

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore distribution files
/dist/
/build/
*.egg-info/
