# Ignore Node.js modules
node_modules/

# Ignore build artifacts
client/build/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore distribution files
/dist/
/build/


# Flask
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Redis
dump.rdb
